body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 1fr);
  gap: 48px 46px;
  padding: 50px 40px;
}
